@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Source Sans 3", sans-serif;
    background: whitesmoke;
}

.container {
    width: 40%;
    margin: 0 auto;
    background: white;
}
/* HEADER STYLES START*/
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    padding: 15px 25px;
}


.profile-pic, .post-user-img img {
    border-radius: 50%;
}

.logo-box {
    width: 230px;
    height: 110px;
}

.profile-box, .post-user-img  {
    width: 70px;
    height: 70px;
}
/* HEADER STYLES END */

/* POST STYLES START */
.post {
    border-bottom: 1px solid #C6C6C6;
}

.post-user {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
}

.post-user-info {
    padding: 15px 10px;
}

.post-user-info-name {
    font-weight: 700;
}

.post-img img {
    width: 100%;
}

.post-bottom {
    padding: 10px;
}
.post-bottom-btn button {
    background-color: inherit;
    border: 0;
    width: 50px;
    height: 50px;
}

button:hover,
button:active {
    transform: scale(1.1);
}

/* POST STYLES END */