@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Source Sans 3", sans-serif;
    width: 100dvw;
    height: 100dvh;
}

header {
    height: 30%;
}

.container {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
}

.header-wrapper {
    width: 100%;
    display: flex;
}

.logo, .profile-pic {
    width: 100%;
    height: 100%;
}

.logo-box {
    flex-grow: 1;
}